body{
    background-color: dimgray;
}
#pong{
    border: 2px solid #FFF;
    position: absolute;
    margin :auto;
    top:100px;
    right:0;
    left:0;
    bottom:0;
}
#rules{
    font-family: fantasy;
    font-size: 25px;
    color: #FFF;
}
h1{
    font-family: fantasy;
    font-size: 75px;
    color: #FFF;
    text-align: center;
    margin :auto;
}
p{
    margin: 10px;
}